In [5]:
#set can be of any datatype
set1 = {'a' , 'c' , 'b'}
set2 = {'1' , '2' , '3'}
set3 = {True , False , True }
print(type(set1))

<class 'set'>

In [7]:
set = (('hgf', 'jhg'))
print(set)

('hgf', 'jhg')

In [9]:
#update a set from previous set
set2.update(set1)
print(set2)

{'b', 'c', '1', '2', 'a', '3'}

In [10]:
thisset = {'cat' , 'dog' , 'mouse'}
thiset1 = ['orange' , 'mango']
thisset.update(thiset1)

In [12]:
thisset

{'cat', 'dog', 'mango', 'mouse', 'orange'}

In [13]:
x = thisset.pop()
print(x)

mouse

In [14]:
set23 = {'apple' , 'banana' , 'mango'}
set23.add('orange')

In [15]:
set23

{'apple', 'banana', 'mango', 'orange'}

In [16]:
thiset1 = {'asd' , 'qwe' , 'abc'}
tropical = {'mango' , 'papaya'}
thiset1.update(tropical)
print(thiset1)

{'papaya', 'abc', 'mango', 'asd', 'qwe'}

In [17]:
#adding iterable (list & set)
mylist = ['asd' , 'saw']
myset = {'dfg' , 'was'}
myset.update(mylist)

In [18]:
myset

{'asd', 'dfg', 'saw', 'was'}

In [20]:
myset

{'asd', 'dfg', 'saw', 'was'}

In [23]:
#delete data item in set
thiset = {'apple' , 'cat' , 'grapes'}
thiset.remove('cat')
print(thiset)

{'grapes', 'apple'}

In [24]:
#poping single item from a set
x = thiset.pop()
print(x)

grapes

In [25]:
print(thiset)

{'apple'}

In [26]:
#Clear all data from the set
thiset.clear()
print(thiset)

set()

In [31]:
#delete the list and error occurs while printing the set
myset = {'dd'}
del myset

In [34]:
#Adding two sets using union
set4 = {'lets' , 'teach' , 'rohit'}
set5 = {'basketball'}
set6 = set4.union(set5)
print(set6)

{'lets', 'teach', 'basketball', 'rohit'}

In [36]:
#Adding two sets using update
your = {'this' , 'is'}
mine = {'it'}
your.update(mine)
print(your)

{'is', 'this', 'it'}

In [39]:
#Keep only the duplicates intersection_update
x ={'apple' , 'orange' , 'cherry'}
y = {'apple' , 'banana'}
x.intersection_update(y)
print(x)

{'apple'}

In [38]:
#intersection method
z =x.intersection(y)
print(z)

{'apple'}

In [43]:
#Items present in both the set (symmetric difference)
a = {'abc' , "def" , 'ghi'}
b = {'abc' , 'zxc' , 'lmn'}
a.symmetric_difference_update(b)
print(a)

{'zxc', 'def', 'lmn', 'ghi'}

In [44]:
#symmetric difference method
w = {'car' , 'bike' , 'ford'}
e = {'car'}
v = w.symmetric_difference(e)
print(v)

{'ford', 'bike'}

In [47]:
#Range of negative values (tuples)
set = ('orange' , 11 , 1.0 , 'sd' , 'cdf' , 'sf')
print(set[-3:-1])

('sd', 'cdf')

In [58]:
#Finding an item present in the list
thistuple = ("Ironman", "banana", "cherry")
if "Ironman" in thistuple:
  print("I Am Ironman")

I Am Ironman

In [59]:
#Convert tuple into list
tuple1 = ('aq' , 'ant' , 'orange')
y = list(tuple1)
y[1] = 'kiwi'
tuple1 = tuple(y)
print(tuple1)

('aq', 'kiwi', 'orange')

In [63]:
#
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry